h1{
    color: red;
}

.productsContainer{
    display: flex;
    flex-direction: row;
    margin: 36px;
    gap: 24px; /* Optional: adds space between cards */
}

.product{
    background-color: lightgrey;
    color: black;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
}

.productImage { 
    flex: 1 1 auto;
    aspect-ratio: 1/1;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productDescription{
    flex: 0 0 auto;
    padding: 12px;
    text-align: center;
}